[project]
name = "sql-challenge-python-server"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "flask>=3.1.1",
    "mysql-connector-python>=9.3.0",
    "sqlparse>=0.5.3",
]
